.column{
display: flex;
flex-direction: column;  
align-items: flex-start;
}

.picture{
}

.main-title{
    font-size: 80px;
    color: #289BF0;
}

.description {
    font-size: 25px;
    font-weight: bold;
    color: #5F5F5F;
    text-transform: uppercase;
    margin: 0 0 25px;
}

.btn{
    border-radius: 30px;
    line-height: 20px;
    color: #289BF0;
    border: 3px solid #289BF0;
    font-size: 16px;
    text-decoration: none;
    padding: 6px 20px;
}